.box {
  border: #fff solid 3px;
  color: white;
  padding: 30px;
}

h3 {
  color: white;
}
.hr-rb{
  background-color: white !important;
}
#about {
  padding: 0px;
  background: url(assets/pictures/about.jpg);
  background-size: cover;
}
#about .bg-dark-opacity{
  padding: 60px 0;
}
#about p {
  font-size: 20px;
  text-align: justify;
}
