<section id="about">
  <div class="bg-dark-opacity">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-5">
          <div class="box">
            <h3 class="rb-h text-center">About us</h3>
            <p>
              Realbeauty.ch is not an agency. It is a platform for women offering their independent escort services.
            </p>
            <p>
              Realbeauty.ch does not interfer and meddle in the service and companionship that is offered by the independent acting women here - realbeauty.ch wants to finally alow a decent respectful looking web site with NO NUDES wich demean woman.
            </p>
            <p>
              Real Beauty also guarantees that there are no modified pictures and that WHAT YOU SEE REPRESENTS REALITY. 
              the kind of photo shooting we offer is without retouch in colors and black and with for a classy look.
            </p>
            <p>
              On Real Beauty you can find the likings to your individual taste. You will find everything from luscious, large breasted to perky feminine curves. Details shared by our women about their preferences and desires will ensure clients to enjoy a fitting memorable shared experience with the beauty of their choice. We are simply here to make it happen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
