<jumbotron></jumbotron>
<section id="girls">
    <div class="container">
        <h3 class="rb-h text-center">The girls / Zurich Area</h3>
        <hr class="hr-rb" />
        <p class="text-center">
            A collection of Beautiful Escort ladys working with passion<br /> Clic in your favorite one and contact direclty
            after one clic.
        </p>
        <girls-list class="row justify-content-md-left" *ngIf="(girls | async)" [girls]="girls | async"></girls-list>
    </div>
</section>
<about></about>
<find-us></find-us>
