<div *ngIf="girl.selfie" class="girl-img" [style.background-image]="AS.sanitizeStyle('url(' + girl.selfie + ')')">
  <div class="girl-desc">
    <div class="box-center" >
      <a routerLink="/escort/{{girl.$key}}"><h3>{{girl.name}}</h3></a>
      <p>{{girl.city}}</p>
    </div>
  </div>
</div>
