.girl-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    background-size: cover;
    position: relative;
    transition: .4s all ease;
    margin-bottom: 30px;
}

.girl-desc {
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    text-align: center;
    color: #2a2a2a;
    opacity: 0;
    transition: .4s all ease;
}

.girl-img:hover > .girl-desc {
    opacity: 1;
}
a, a:hover, a:active{
    color: black;
    text-decoration: none !important;
}