footer {
    height: 50px;
    font-weight: 300;
    color: #82838d;
    line-height: 50px;
}
@media (max-width:767px)
{
  footer{font-size: 12px;}
}
:host{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
app-chat + :host
{
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}
