
#user
{
  height: 500px;
  background-color: #333942;
  position: relative;
  color: #fff;
  padding: 70px 20px 20px;
}
#user .box-center-v
{
  padding-top: 50px;
}
.user-img
{
  height: 256px;
  width: 256px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 500px;
  margin-bottom: 15px;
}
.user-selfie > div > div > span
{
  display: block;
  font-size: 24px;
}
.user-selfie
{
  display: inline-block;
}
.user-selfie h2
{
  font-size: 3.2rem;
  font-weight: bold;
}
#user .col-md-6.align-self-end > a
{
  display: block;
  font-size: 25px;
  padding: 5px 25px;
  border: 1px solid #5cb85c;
  color: #fff;
}
#user .btn-rb
{
  border: 1px solid #fff !important;
  margin-right: 8px;
}
.photos-img
{
  width: 100%;
  height: 280px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#favorites .photos
{
  margin: 0 0 1rem !important;
}
#favorites h2
{
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 30px;
}
