<header id="user">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <div class="user-selfie">
        <div class="user-img img-circle" [style.background-image]="AS.sanitizeStyle('url(' + user.avatar + ')')"></div>
        <h2>{{user.username}}</h2>
        <div>
          <div class="float-left">
            <span>Zurich</span>
            <span>Member since: {{user.create_at}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 align-self-end">
      <a class="btn-success float-right">Chat</a>
      <a class="btn-rb float-right">Edit Profile</a>
    </div>
  </div>
</header>
<section id="favorites" *ngIf="user.favorites.length > 0">
  <div class="container-fluid">
    <h2>Favorites Scorts</h2>
  </div>
  <div class="container">
    <girls-list class="row justify-content-md-left photos" [girls]="user.favorites"></girls-list>
  </div>
</section>
