header {
  position: relative;
  display: block;
  font-family: "Lato" !important;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 50px;
}
header, header .container-fluid, header .bg-dark-opacity{
  min-height: calc(100vh - 50px);
}
header .bg-dark-opacity
{
  background-color: rgba(0,0,0,.15);
}
header .container-fluid
{
  padding-top: 20px;
  padding-bottom: 20px;
}
header .h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

header h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 600px) {
  header .h1 {
    font-size: 46px;
  }
  header h3 {
    font-size: 30px;
  }
}
#cities
{
  display: block;
  padding: 30px 0;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
#cities a, #cities span
{
  display: inline-block;
}
#cities a
{
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
  margin-right: 7px;
  transition: 0.4s ease all;
}
#cities a:hover, #cities a:focus, #cities a.active,
#cities a.active:hover, #cities a.active:focus
{
  color: black;
  background-color: #fff;
}
.label-blue
{
  padding: 15px 20px;
  background-color: transparent;
  color: #fff;
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.box-center-v{
  top: 25% !important;
}
