<header role="header" style="background-image: url(assets/pictures/new-wallpaper2.jpg)">
  <div class="bg-dark-opacity">
    <div class="container-fluid">
      <div class="box-header">
        <div class="h1">
          WELCOME TO<br/> REALBEAUTY
        </div>
        <h3>Totally honest beauty</h3>
        <h3>Real pictures</h3>
        <h3>0% Photoshop</h3>
        <h3>Direct Contact</h3>
        <h3>Top favorite of the German-spoken Area</h3>
      </div>
      <div class="box-bottom" id="cities">
        <span class="label-blue">Select city</span><br />
        <a class="active">Zurich</a>
        <a>Bern</a>
      </div>
    </div>    
  </div>
</header>
