#find label {
    color: black;
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin-bottom: 15px;
}

#find input, #find textarea {
    margin-bottom: 15px;
    background-color: transparent;
}
.ng-valid[required], .ng-valid.required {
    border-color: #42A948 !important;
}

.ng-invalid:not(form).ng-touched {
    border-color: #a94442 !important;
}
