<section id="find">
  <div class="container">
    <h3 class="rb-h text-center">Find us</h3>
    <hr class="hr-rb" />
    <form class="row justify-content-md-center" [formGroup]="form" (ngSubmit)="sendMessage(form, $event)">
      <div class="col-12 col-md-5">
        <label>scenehoy@gmail.com</label>
        <label>For photoshooting: </label>
        <label>Tel: 12345678</label>
        <label>OPENING HOURS</label>
        <label>Mon - Friday: 7am - 8pm<br />
          Saturday: 8am - 5pm</label>
      </div>
      <div class="col-12 col-md-5 text-right">
        <input type="text" class="form-control" placeholder="Name" [formControl]="form.controls['name']" name="name" required/>
        <div class="alert alert-danger" *ngIf="submited && !form.controls['name'].valid">Name is required</div>
        <input type="email" class="form-control" placeholder="Email" [formControl]="form.controls['email']" name="email" required/>
        <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
        <input type="text" class="form-control" placeholder="Subject" [formControl]="form.controls['subject']" name="subject" required/>
        <div class="alert alert-danger" *ngIf="submited && !form.controls['subject'].valid">Subject is required</div>
        <textarea class="form-control" placeholder="Message" [formControl]="form.controls['message']" name="message" required></textarea>
        <div class="alert alert-danger" *ngIf="submited && !form.controls['message'].valid">Message is required</div>
        <button type="submit" class="btn-purple">Send</button>
      </div>
    </form>
  </div>
</section>
