.modal-body {
    padding: 20px 40px;
}

.modal-body h5 {
    color: #0c0c0c;
    text-shadow: none;
}

.modal-body span {
    color: #99262c;
}

.modal-footer {
    justify-content: center !important;
    border-top: 2px solid #747474;
    text-align: center;
}

.modal-footer h6 {
    font-weight: 700;
}

.modal-footer a {
    color: #99262c;
}


.input-group-btn {
    margin-bottom: 0px !important;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group .form-control {
    background: transparent;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.btn-primary {
    background-color: gray;
    color: white;
    border: none;
}

.folder {
    width: 30px;
    height: 20px;
    display: inline-block;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 0 3px 3px 3px;
    margin-bottom: -8px;
    margin-top: 0px;
}

.folder:before {
    content: '';
    width: 50%;
    height: 0.2em;
    border-radius: 0 20px 0 0;
    background-color: white;
    position: absolute;
    top: -0.2em;
    left: 0px;
}