<div class="modal-body">
  <form class="row" [formGroup]="form" (ngSubmit)="update(form, $event, avatar)">
    <div class="col-lg-9">
      <div class="head-title">
        <h5>REALBEAUTY<span>.CH</span></h5>
      </div>
      <h1 class="inline">Sign-up</h1>
      <h6 class="inline light">Member Edit Profile</h6>
    </div>

    <div class="col-lg-3">
      <img src="assets/pictures/apple.png" class="fw">
    </div>
    <div class="col-lg-12 m-t-xs">
      <input class="form-control" placeholder="Email" type="email" [formControl]="form.controls['email']" name="email" />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
      <input type="text" class="form-control" placeholder="Username" type="text" [formControl]="form.controls['username']" name="username"
      />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['username'].valid">Min length of username is 5</div>

      <input type="text" class="form-control" placeholder="New password" type="password" [formControl]="form.controls['passwords'].controls['password']"
        name="password" />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['password'].valid">Min length of new password is 7</div>

      <input type="text" class="form-control" placeholder="Confirm new password" type="password" [formControl]="form.controls['passwords'].controls['confirm']"
        name="confirm" />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['confirm'].valid">Confirm new password is required</div>
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].valid"> The two passwords aren't the same
      </div>
      <input type="text" class="form-control" placeholder="Current password" type="text" [formControl]="form.controls['currentPassword']"
        name="currentPassword" />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['currentPassword'].valid">Current Password is required</div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Load profile pic" readonly>
        <label class="input-group-btn">
            <span class="btn btn-primary">
              <div class="folder"></div><input (change)="addAvatar($event)" type="file" style="display: none;" multiple>
            </span>
        </label>
      </div>
    </div>

    <div class="col-lg-12 text-right">
      <button type="submit" class="btn btn-success">Save and Close</button>
    </div>
  </form>
</div>