.modal-header, .modal-body {
    padding: 20px 40px;
}

.modal-header {
    border: none;
}

.modal-header h5 {
    font-weight: 100;
    color: #0c0c0c;
    text-shadow: none;
}

.modal-header span {
    color: #99262c;
}

.modal-footer {
    justify-content: center !important;
    border-top: 2px solid #747474;
}

.light h4 {
    font-weight: 100;
}

.description {
    margin-top: 20px;
}

.description p {
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.btn {
    padding: .5rem 2rem;
}

.end {
    align-self: flex-end;
}