<div class="modal-header">
  <h5>RealBeauty<span>.ch</span></h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-7 light end">
      <h4>Total honest beauty</h4>
      <h4>Real pictures</h4>
      <h4>0% Photoshop</h4>
      <h4>Direct contact</h4>
      <h4>Top most in the German Area</h4>
    </div>
    <div class="col-lg-5">
      <img src="assets/pictures/apple.png" class="fw">
    </div>
    <div class="col-12 description">
      <p>Realbeauty.ch is an Escort directory based in Zurich-Switzerland only for the German area, for personal high Escort
        Service
      </p>
      <p>A fair web which Does not take any % for make contact on between the ladies and gentleman</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" (click)="agree()" class="btn btn-success m-r-xs">+18</button>
  <button type="button" (click)="exit()" class="btn btn-danger m-l-xs">-18</button>

</div>
