    <div class="chat-content">
      <div class="chat-comments">
        <div class="comment" *ngFor="let message of messages">
					<div *ngIf="userInfo(message.userRef)?.$key != user?.$key">
						<div [style.background-image]="handleAvatar(userInfo(message.userRef))" class="float-left img-circle avatar"></div>
						<div class="bubble you">
							{{message.message}}
						</div>
					</div>
					<div *ngIf="userInfo(message.userRef)?.$key == user?.$key">
						<div [style.background-image]="handleAvatar(userInfo(message.userRef))"  class="float-right img-circle avatar"></div>
						<div class="bubble me">
							{{message.message}}
						</div>
					</div>
				</div>
        <a id="bot-comments"></a>
      </div>
      <div class="send-comment">
				<textarea [(ngModel)]="message"></textarea>
				<button type="submit" (click)="sendMessage()" class="btn btn-black btn-send">Send</button>
			</div>
    </div>