#escort-comments .comments
{
  text-align: center;
  margin-top: 1rem !important;
}
#escort-comments .comments > div
{
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
#escort-comments .comments p
{
  font-size: 20px;
}
#escort-comments textarea{
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  min-height: 150px;
  margin-bottom: 15px;
}
.font-bold
{
  font-weight: bold;
}
