<section id="escort-comments">
  <div class="container-fluid">
    <div class="row" *ngIf="user">
      <div class="col">
        <h4>Comments</h4>
        <textarea [(ngModel)]="message" name="message"></textarea>
        <button (click)="send(message, user.$key)"class="btn btn-comment float-right">Add Comment</button>
      </div>
    </div>
    <div class="row comments">
      <div class="col-12" *ngFor="let comment of comments | async">
        <p>{{comment.message}}</p>
        <h4 class="font-bold">{{comment.userRef.name ? comment.userRef.name : comment.userRef.username}}</h4>
      </div>
    </div>
  </div>
</section>
