<div class="background">
  <div></div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center m-t-sm black-text fw">
    <div class="col-md-8 col-12">
        <div class="new-account">
          <h4>to create a new account go to <a (click)="openLogin()">LOGIN</a><a>/</a><a (click)="openSignup()">SIGNUP</a></h4>
        </div>
        <div class="content">
          <h1>Subscription</h1>
          <p>To getlistedonrealbeauty.ch you can contact us directly on
            +41787468483 or fill out the form bellow.</p>
          <p>Per publicare su REALBEAUTY.CH potete contattarci direttamente
            +41787468483 o compilare il modulo sottostante.</p>
          <p>Para publicar un anuncio en REALBEAUTY.CH puede ponerse en contacto
             directamente con nosotros en +41787468483 o llene el siguiente
             formulario para previa cita.</p>

          <find-us></find-us>
        </div>

    </div>
  </div>
</div>
