:host{
  min-height: 100%;
}
.background{
  background-color: black;
}
.background div{
  background-image: url(assets/pictures/wallpaper.png);
  background-position: center;
  opacity: 0.2;
  background-size: cover;
  height: 400px;
}

.content{
    background-color: #dadada;
    padding: 20px 30px;
    margin-bottom: 70px;
}
@media (max-width: 767px)
{
  .content
  {
    padding: 20px 15px;
  }
}
.content p{
  font-size: 22px;
}
.content h1{
  margin-bottom: 30px;
}
.new-account{
  text-align: right;
}

.new-account a{
  color: #99262c;
  font-weight: 300;
}
