.modal-body {
    padding: 20px 40px;
}

.modal-body h5 {
    color: #0c0c0c;
    text-shadow: none;
}

.modal-body span {
    color: #99262c;
}

.modal-footer {
    justify-content: center !important;
    border-top: 2px solid #747474;
    text-align: center;
}

.modal-footer h6 {
    font-weight: 700;
    font-size: 0.8rem;
}

.modal-footer a, .modal-body a {
    color: #99262c;
}