<div class="modal-body">
  <form class="row" [formGroup]="form" (ngSubmit)="login(form, $event)">
    <div class="col-lg-9">
      <div class="head-title"><h5>REALBEAUTY<span>.CH</span></h5></div>
      <h1 class="inline">Log-in</h1>
    </div>

    <div class="col-lg-3">
      <img src="assets/pictures/apple.png" class="fw">
    </div>
    <div class="col-lg-12 m-t-xs">
      <input class="form-control" placeholder="Email" type="email" [formControl]="form.controls['email']" name="email" required
      />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
      <input type="text" class="form-control" placeholder="Password" type="password" [formControl]="form.controls['password']"
        name="password" required />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['password'].valid">Min length of password is 7</div>
    </div>

    <div class="col-lg-12">
      <h6 class="float-left light">Forgot your <a (click)="recover()">password?</a></h6>
      <button type="submit" class="btn btn-success float-right">Enter</button>
    </div>

  </form>

</div>

<div class="modal-footer">
  <h6>Dont have an account? <a (click)="signUp()">Sign-up</a></h6>
</div>
