<div class="modal-body">
  <form class="row" [formGroup]="form" (ngSubmit)="recover(form, $event)">
    <div class="col-lg-9">
      <div class="head-title"><h5>REALBEAUTY<span>.CH</span></h5></div>
      <h1 class="inline">Recover Password</h1>
    </div>

    <div class="col-lg-3">
      <img src="assets/pictures/apple.png" class="fw">
    </div>
    <div class="col-lg-12 m-t-xs">
      <input class="form-control" placeholder="Email" type="email" [formControl]="form.controls['email']" name="email" required
      />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
    </div>

    <div class="col-lg-12">
      <button type="submit" class="btn btn-success float-right">Enter</button>
    </div>
  </form>
</div>
