<section id="creation">
  <div class="bg-dark-opacity">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="box">
            <div class="overflow">
              <img class="float-right apple" src="assets/pictures/apple.png" alt="RealBeauty Apple" />
              <h3 class="c-rb">RealBeauty<span>.ch</span></h3>
              <h2 class="m-rb">Modify Info <small>Scort Information</small></h2>
            </div>
            <form [formGroup]="form">
              <ngb-tabset #t="ngbTabset">
                <ngb-tab id="first">
                  <template ngbTabContent>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="Email" [formControl]="form.controls['email']" name="email" required>
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="vorname" placeholder="Name" [formControl]="form.controls['name']"
                      name="name" required>
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['name'].valid">Min length of name is 5</div>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="passwort" placeholder="Password" [formControl]="form.controls['passwords'].controls['password']"
                      name="password" required>
                       <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['password'].valid">Min length of password is 7</div>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="passwortbe" placeholder="Confirm Password" [formControl]="form.controls['passwords'].controls['confirm']"
                      name="confirm" required/>
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['confirm'].valid">Confirm password is required</div>
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].valid"> The two passwords aren't the same </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="city" placeholder="City" [formControl]="form.controls['city']"
                      name="city">
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['city'].valid">Min length of city is 5 and is required</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="stadt" placeholder="Region" [formControl]="form.controls['escort'].controls['region']"
                      name="region">
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['escort'].controls['region'].valid">Min length of region is 5</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="typ" placeholder="Type" [formControl]="form.controls['escort'].controls['type']"
                      name="type">
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['escort'].controls['type'].valid">Min length of username is 5</div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="tlf" placeholder="Phone Number" [formControl]="form.controls['escort'].controls['phone']"
                      name="phone">
                      <div class="alert alert-danger" *ngIf="submited && !form.controls['escort'].controls['phone'].valid">Invalid Phone format</div>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        In-Call
                        <input type="checkbox" class="form-check-input" id="incall" [formControl]="form.controls['escort'].controls['calls'].controls['in']"
                      name="callin">
                      </label>
                      <label class="form-check-label">
                        Out-Call
                        <input type="checkbox" class="form-check-input" id="outcall" [formControl]="form.controls['escort'].controls['calls'].controls['out']"
                      name="callout">
                      </label>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="about" rows="3" placeholder="About me"[formControl]="form.controls['escort'].controls['about']"
                      name="about"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" id="age" placeholder="Age"[formControl]="form.controls['escort'].controls['age']"
                      name="age">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="origin" placeholder="Origin" [formControl]="form.controls['escort'].controls['origin']"
                      name="origin">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="languages" placeholder="Languages" (keyup)="addLanguage($event)">
                      <div class="label" *ngFor="let language of form.controls.escort.controls.languages.controls; let i=index">{{language.controls[0].value}}
                        <a (click)="removeLanguage(i)">X</a></div>
                      <br/>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="haircolor" placeholder="Hair Color" [formControl]="form.controls['escort'].controls['hair']"
                      name="hair">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="eyes" placeholder="Eyes" [formControl]="form.controls['escort'].controls['eyes']"
                      name="eyes">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="height" placeholder="Height" [formControl]="form.controls['escort'].controls['height']"
                      name="height">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="weight" placeholder="Weight" [formControl]="form.controls['escort'].controls['weight']"
                      name="weight">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="breast" placeholder="Breast Size" [formControl]="form.controls['escort'].controls['breast']"
                      name="breast">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="appointment" placeholder="Appointment" [formControl]="form.controls['escort'].controls['appointment']"
                      name="appointment">
                    </div>
                    <fieldset class="form-group">
                        <label>Service for</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="servicefor" value="M" [formControl]="form.controls['escort'].controls['for']">
                            M
                          </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="servicefor" value="F" [formControl]="form.controls['escort'].controls['for']">
                            F
                          </label>
                        </div>
                        <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="servicefor" value="couples" [formControl]="form.controls['escort'].controls['for']">
                            Couples
                          </label>
                        </div>
                      </fieldset>
                      <div class="form-group select">
                        <label for="exampleSelect1">Block access from countries</label>
                        <template #rt let-r="result" let-t="term">
                          <img [src]="r.flag" width="16">
                          {{ r.name}}
                        </template>
                        <input id="typeahead-template" type="text" name="modelCountry" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt"
                          [inputFormatter]="formatter" (selectItem)="addCountry($event)" />
                        <div class="label" *ngFor="let country of form.controls.countries.controls; let i=index">{{country.controls[0].value}}
                          <a (click)="removeCountry(i)">X</a>
                        </div>
                        <br/>
                      </div>
                      <div class="overflow">
                        <a (click)="register(form, $event)" class="btn btn-success float-right">Save and continue</a>
                        <a class="float-right" (click)="t.select('last')">skip step ></a>
                      </div>
                    </template>
                </ngb-tab>
                <ngb-tab id="last">
                  <template ngbTabContent>
                    <h4>Program</h4>
                    <div class="days">
                      <div class="monday" *ngFor="let day of days">
                        <label>{{day}}</label>
                        <a class="label-new" (click)="addDayInfo('24', day)" [ngClass]="handleDay(day)">24h</a>
                        <a class="label-new" (click)="addDayInfo(false, day)"[ngClass]="handleDay(day, true)">Not available</a>
                        <span>other:</span>
                        <input type="text" (change)="addOtherInfo($event, day)"  [value]="handleOther(day)" />
                      </div>
                      <br />
                      <a 
                        class="label-new" 
                        (click)="handleVacations()" 
                        [ngClass]="form.controls['escort'].controls['vacations'].value ? 'on' : 'off'">
                        On vacation mode
                      </a>
                    </div>
                    <h4>Services</h4>
                    <div class="services">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-check" *ngFor="let service of allServices">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" (change)="handleService($event, service)" [checked]="service.active">
                              {{service.name}}
                            </label>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-check" *ngFor="let service of ownServices">
                            <label class="form-check-label">
                               <input type="checkbox" class="form-check-input" (change)="handleService($event, service)" [checked]="service.active">
                               {{service.name}}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" (keyup)="addOwnService($event)" placeholder="Add other service">
                      </div>
                    </div>
                    <div class="pictures">
                      <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input" (change)="addImages($event)" placeholder="Load pictures" multiple>
                        <span class="custom-file-control"></span>
                      </label>
                      <div class="row" *ngIf="imagesUrl.length > 0">
                        <div class="col-md-3" *ngFor="let image of imagesUrl">
                          <div class="girl-img" [style.background-image]="AS.sanitizeStyle('url(' + image + ')')">
                            <div class="girl-desc">
                              <div class="box-center">
                                <a><</a> Move <a>></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="selfie">
                      <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input" placeholder="Load selfie" (change)="addSelfie($event)">
                        <span class="custom-file-control"></span>
                      </label>
                      <div class="row" *ngIf="selfieUrl">
                        <div class="col-md-3">
                          <div class="girl-img" [style.background-image]="AS.sanitizeStyle('url(' + selfieUrl + ')')"></div>
                        </div>
                      </div>
                    </div>
                    <fieldset class="form-group">
                      <label>allow commets on profile</label>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" [value]="true" [formControl]="form.controls['escort'].controls['allowComments']" name="allowComments" >
                            Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" [value]="false" [formControl]="form.controls['escort'].controls['allowComments']" name="allowComments" >
                          No
                        </label>
                      </div>
                    </fieldset>
                    <div class="overflow">
                      <a (click)="register(form, $event)" class="btn btn-success float-right">Save and continue</a>
                      <a class="float-right" (click)="t.select('first')">< back</a>
                    </div>
                  </template>
                </ngb-tab>
              </ngb-tabset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
