
#creation
{
  padding: 0;
  background-image: url(assets/pictures/wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#creation .bg-dark-opacity
{
  padding: 80px 0 30px;
}

.box
{
  background-color: #fff;
  padding: 30px;
}
.c-rb
{
  font-weight: 300;
  font-size: 2.5rem;
}
.c-rb span
{
  color: #99262c;
}
.apple
{
  width: 20%;
}
.m-rb
{
  font-weight: 500;
  font-size: 4rem;
}
.m-rb small
{
  font-size: 18px;
}
.overflow
{
  overflow: hidden;
}
.form-group
{
  margin-bottom: 5px;
}
.form-group .form-control
{
  margin-bottom: 0;
}
.form-check-input
{
  margin-left: 0;
}
div.label
{
  width: 180px;
  background-color: #e1e1e1;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  position: relative;
  margin: 3px 0;
  margin-right: 5px;
}
div.label > a
{
  position: absolute;
  right: 2px;
  top: 2px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
#age
{
  width: 15%;
}
fieldset.form-group > *, .select label, .select select
{
  display: inline-block;
}
.select label
{
  font-size: 20px;
}
.select select
{
  width: 50%;
  margin-left: 15px;
}
fieldset.form-group > label
{
  font-size: 30px;
}
fieldset.form-group .form-check-label
{
  text-align: center;
  margin-top: 5px;
}
fieldset.form-group .form-check-label > input
{
    display: block;margin: 0 auto;
}
.btn-success
{
  color: #fff !important;
  margin-left: 15px;
}
.label-new
{
  padding: 1px 3px;
  border: 1px solid #4d4d4d;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  color: #4d4d4d;
}
.label-new.on
{
  border-color: #39b54a;
  color: #009245;
}
.label-new.off
{
  border-color: #c1272d;
  color: #ed1c24;
}
.label-new.in

{
  border-color: #999999;
  color: #999999;
}
.days label
{
  width: 90px;
  margin-bottom: 0;
}
.days span
{
  margin-left: 20px;
}
.days input
{
  border-width: 0 0 2px 0;
  border-color: rgba(0,0,0,.7);
}
.services .form-check
{
  margin-bottom: 0px;
}
.services .form-check-label
{
  padding-left: 0;
}
.services .form-control
{
  margin-top: 8px;
}
.pictures, .selfie
{
  margin-bottom: 15px;
}
.pictures .custom-file-control:after
{
  content: 'Load pictures';
}
.selfie .custom-file-control:after
{
  content: 'Load selfie';
}
.custom-file-control:before
{
  content: 'Browse';
}
.girl-img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 128px;
    background-size: cover;
    position: relative;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
    margin-bottom: 5px;
}
.girl-desc {
    background-color: rgba(0,0,0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
}
.girl-desc a{
  color: #fff;
}
.girl-img:hover > .girl-desc {
    opacity: 1;
}
.box-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.pictures .row, .selfie .row
{
  margin: 8px -15px 0 !important;
}
