@import url('https://fonts.googleapis.com/css?family=Bad+Script');
#escort
{
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}
#escort .bg-dark-opacity
{
  height: 500px;
  padding: 70px 20px 20px;
}
#escort .box-center-v
{
  padding-top: 50px;
}
.escort-img
{
  height: 256px;
  width: 256px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 500px;
  margin-bottom: 15px;
}
.escort-selfie > div > div > span
{
  display: block;
  font-size: 18px;
}
.escort-selfie, .escort-feat
{
  display: inline-block;
}
.escort-feat-box
{
  right: 260px;
}
.escort-feat ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}
.escort-feat ul > li
{
  margin: 0 0 8px;
  font-size: 40px;
  position: relative;
}
.escort-feat ul > li > img
{
  margin: -6px 8px 0 0;
  width: 32px;
  height: 32px;
}
.escort-feat ul > li small
{
  display: block;
  font-weight: 300;
  font-size: 20px;
  margin-left: 40px;
}
section
{
  padding: 20px 0;
}
#escort-content .box
{
  background-color: #eee;
  padding: 15px;
  margin-bottom: 10px !important;
}
.m-r
{
  margin-right: 15px !important;
}
.m-l
{
  margin-left: 15px !important;
}
.m-r-lg
{
  margin-right: 30px;
}
#escort-content p
{
  font-family: 'Bad Script', cursive;
  font-size: 22px;
  margin-top: 1rem;
  margin-bottom: 0;
}
#escort-content .photos
{
  margin: 1rem 0 !important;
}
.popover-title, .popover-content
{
  color: #000 !important;
}
@media (min-width: 768px)
{
  #escort-content .col-md-3.box
  {
    max-width: calc(25% - 22px);
  }
  #escort-content .col-md-9.box
  {
    max-width: calc(75% - 8px);
  }
}

.photos-img
{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-bold
{
  font-weight: bold;
}
.btn-rb
{
  border: 1px solid white;
  color: #fff;
}
a.close2
{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 16px;
  border-radius: 500px;
  border: 1px solid #000;
  position: relative;
  top: -40px;
  right: -7px;
}
.font-300
{
  font-weight: 300;
}

.pop{
  min-width: 250px;
  position: absolute;
  z-index: 9999;
  top: -125%;
  right: calc(100% + 15px);
  color: #000 !important;
  border-radius: 0 !important;
  background-color: #e6e6e6 !important;
  font-weight: 300 !important;
  padding: 20px;
  font-size: 18px;
}
.pop li{
  font-size: 18px !important;
  display: block !important;
}
.pop h5 > img
{
  height: 32px;
  width: 32px;
}
@media (max-width: 767px)
{
  header .col-12.col-md-4
  {
    text-align: center;
  }
  .escort-feat ul > li
  {
    display: inline-block;
  }
  .escort-feat ul > li > span
  {
    display: none;
  }
  .escort-img
  {
    height: 198px;
    width: 198px;
  }
  .pop
  {
    top: calc(100% + 15px);
    left: auto;
    text-align: left;
  }
  .services .pop
  {
    margin-right: -61px;
  }
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label * {
	pointer-events: none;
}
