<header id="escort" style="background-image: url(assets/pictures/escort-bg.png)">
  <div class="bg-dark-opacity row align-items-center">
    <div class="col-12 col-md-4">
      <div class="escort-selfie">
        <div class="escort-img img-circle" [style.background-image]="AS.sanitizeStyle('url(' + escort.selfie + ')')"></div>
        <h2>{{escort.name}}</h2>
        <div>
          <div class="float-left">
            <span>Mindestbetrag: </span>
            <span>200 CHF</span>
          </div>
          <div class="float-right">
            <input type="file" name="file" id="file" class="inputfile" />
            <label class="btn btn-rb" for="file">Selfie</label>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-12 col-md-2"></div>
    <div class="col-12 col-md-4">
      <div class="escort-feat">
        <ul>
          <li><img src="assets/pictures/iconos-02.png" alt="Escort phone" /><span>{{escort.phone}}<small>{{escort.call}}</small></span></li>
          <li><img src="assets/pictures/iconos-03.png" alt="Site type" /><span>Type: {{escort.type}}</span></li>
          <li><img src="assets/pictures/iconos-04.png" alt="Escort region" /><span>{{escort.region}} - {{escort.city}}</span></li>
          <li class="services" (click)="openPop('services')"><img src="assets/pictures/iconos-01.png" alt="Escort services" /><span>View services</span>
            <div *ngIf="popOpen" class="pop">
              <div *ngIf="popContent == 'services'">
                <h5 class="font-300"><img src="assets/pictures/iconos-01.png" alt="Escort phone" /> Services</h5>
                <a class="float-right close2" (click)="popOpen = false">x</a>
                <ul>
                  <li *ngFor="let service of escort.services">{{service}}</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="more" (click)="openPop2('more')"><img src="assets/pictures/iconos-06.png" alt="Escort details" /><span>{{escort.age}}/{{escort.origin}}/more inf</span>
            <div *ngIf="popOpen2" class="pop">
              <div *ngIf="popContent == 'more'">
                <h5 class="font-300"><img src="assets/pictures/iconos-06.png" alt="Escort phone" /> About</h5>
                <a class="float-right close2" (click)="popOpen2 = false">x</a>
                Age: {{escort.age}}<br />
                Origin: {{escort.origin}}<br />
                Languages: {{escort.languages ? escort.languages.join(" - ") : ""}}<br />
                Hair : {{escort.hair}}<br />
                Eyes : {{escort.eyes}}<br />
                Height : {{escort.height}}m<br />
                Region : {{escort.region}} - {{escort.city}}<br />
                Type : {{escort.type}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2 align-self-end" *ngIf="user | async">
      <a class="btn-purple float-right" (click)="chat(escort.$key)">Chat</a>
    </div>
  </div>
</header>
<section id="escort-content">
  <div class="container-fluid">
    <div class="row m-r m-l">
      <div class="col col-12 col-md-9 box m-r-lg">
        <h3>About me</h3>
        <p>{{escort.about}}</p>
      </div>
      <div class="col col-12 col-md-3 box">
        Program:<br />
        <span *ngIf="escort?.program?.monday">Monday:    {{escort?.program?.monday}}<br /></span>
        <span *ngIf="escort?.program?.tuesday">Tuesday:    {{escort?.program?.tuesday}}<br /></span>
        <span *ngIf="escort?.program?.wednesday">Wednesday:    {{escort?.program?.wednesday}}<br /></span>
        <span *ngIf="escort?.program?.thursday">Thursday:    {{escort?.program?.thursday}}<br /></span>
        <span *ngIf="escort?.program?.friday">Friday:    {{escort?.program?.friday}}<br /></span>
        <span *ngIf="escort?.program?.saturdary">Saturday:    {{escort?.program?.saturdary}}<br /></span>
        <span *ngIf="escort?.program?.mond">Sunday:    {{escort?.program?.monday}}</span>
      </div>
    </div>
    <div class="row justify-content-md-center photos">
      <div class="col-md-3" *ngFor="let img of escort.images; let i = index">
        <div class="photos-img" [style.background-image]="AS.sanitizeStyle('url(' + img + ')')"></div>
      </div>
    </div>
  </div>
</section>
<comments *ngIf="escort.allowComments" [comments]="comments" [key]="escort.$key" [user]="user | async"></comments>
