<div class="container-fluid">
  <div class="row justify-content-center m-t-sm black-text fw m-t-md">
    <div class="col-md-8 col-12 content m-t-md">
      <div class="row">
        <div class="col-12">
          <h1>Are you an honest beauty?</h1>
        </div>
        <div class="col-md-4">
          <img class="fw" src="assets/pictures/become.png">
        </div>
        <div class="col-md-8 text-justify">
          <p>If you are looking for an interesting way to meet man and offer your
          professional service an have some fun then you came to the right place!</p><br>
          <p>By signing up to RealBeauty.ch you benefit from many advantages in escort service as:</p><br>
          <ul class="advantages">
            <li>With RealBeauty.ch we offer a lot of advertising online and in the best
              spots of the city</li>
            <li>We also offer you a PHOTO SHOOTING in B/W or colors with or without
              showing your face, so you can handle your own level of discretion</li>
            <li>With RealBeauty.ch you no longer work for a company or someone else
              which takes percentage of what you earn. You can work for and by yourself</li>
            <li>By joining RealBeauty.ch you become independent and flexible, RealBeauty.ch will allow
              you to meet decent and interesting personalities in Switzerland and around the world</li>
            <li>Our RealBeauty.ch service will allow you to change your pictures
              and information at any time</li>
            <li>Being part of RealBeauty.ch allows you to tell in which area you live - so
              people who are close by can find you</li>
          </ul>
          <div class="text-right">
            <button class="btn-purple" routerLink="/subscription">Subscribe me now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
