.content{
    background-color: #dadada;
    padding: 20px 30px;
    margin-bottom: 70px;
}
@media (max-width: 767px)
{
  .content
  {
    padding: 20px 15px;
  }
}
.content p, .advantages li{
  font-size: 20px;
}
.content h1{
  margin-bottom: 30px;
  font-size: 3rem;
}

.advantages {
  margin-bottom: 3rem;
  padding-left: 0px;
}
.advantages li{
  list-style: none;
}
.advantages li:before{
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url(assets/pictures/apple.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -10px;
}
