@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Devonshire');

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Poiret One', 'Lato' !important;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

section {
    padding: 30px 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

html{
  position: relative;
}

.row{
  margin: 0px !important;
}
.rb-h {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}

.hr-rb {
    display: block;
    width: 80px;
    background-color: #000;
    height: 3px;
    margin-bottom: 20px;
}

.purple-gradient {
    background: -moz-linear-gradient(left, rgba(30, 34, 49, 1) 0%, rgba(30, 34, 49, 0.95) 53%, rgba(72, 67, 109, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(30, 34, 49, 1) 0%, rgba(30, 34, 49, 0.95) 53%, rgba(72, 67, 109, 1) 100%);
    background: linear-gradient(to right, rgba(30, 34, 49, 1) 0%, rgba(30, 34, 49, 0.95) 53%, rgba(72, 67, 109, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e2231', endColorstr='#48436d', GradientType=1);
}

.box-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-content {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
    cursor: pointer;
}

a {
    cursor: pointer;
}

.btn-success {
    background-color: #4dbd5c !important;
    border-color: #4dbd5c !important;
}

.btn-danger {
    background-color: #ef333a !important;
    border-color: #ef333a !important;
}

.m-r-xs {
    margin-right: 1rem !important;
}

.m-l-xs {
    margin-left: 1rem !important;
}

.m-t-xs {
    margin-top: 1rem !important;
}
.m-t-sm {
  margin-top: 2rem !important;
}
.m-t-md{
  margin-top: 4rem !important;
}
.fw {
    width: 100%;
}
.black-text{
  color: black;
}
.inline {
    display: inline-block;
}

.light {
    font-weight: 100;
}

.head-title{
  font-family: "Lato";
}
.head-title h5, .head-title span{
  font-weight: 300 !important;
}
.form-control {
    color: #9f9f9f !important;
    border-radius: 3px !important;
    border-color: #5d5d5d !important;
    margin-bottom: 10px;
}
textarea {
    resize: none !important;
}

.btn-purple{
  border: purple solid 5px;
  padding: 0px 20px;
  color: purple !important;
  font-family: "Devonshire";
  font-size: 25px;
  cursor: pointer;
}

.alert-danger{
  text-align: center;
}

.bg-dark-opacity {
    background-color: rgba(0, 0, 0, .8);
}
.popover-title, .popover-content, .popover
{
  color: #000 !important;
  border-radius: 0 !important;
  background-color: #e6e6e6 !important;
}
.popover
{
  min-width: 250px;
}
.popover-title
{
    font-size: 22px !important;
    border: none !important;
    font-weight: 300 !important;
}
.popover:before, .popover:after
{
    display: none !important;
}
#creation .nav-tabs {
  display: none !important;
}
.alert{
    margin-top: 1rem;
}
.ng-valid[required], .ng-valid.required {
    border-color: #42A948 !important;
}

.ng-invalid:not(form).ng-touched {
    border-color: #a94442 !important;
}