.sidebar
{
    position: fixed;
    top: 50px;
    width: 300px;
    background-color: #e6e6e6;
    border-right: 1px solid rgba(0,0,0,.2);
    min-height: calc(100vh - 100px);
}
.sidebar, .chat-content
{
  padding: 15px;
}
.chat-content
{
  width: calc(100% - 300px);
  margin-left: 300px;
}
.chat-title
{
  padding: 15px;
  color: #c22b32;
  border-bottom: 1px solid rgba(0,0,0,.2);
  display: block;
  position: fixed;
  background-color: white;
  z-index: 999;
  width: calc(100% - 300px);
  top: 50px;
  right: 0;
}
.chat-title h3
{
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.sidebar .user
{
  text-align: center;
  margin-bottom: 10px;
}
.sidebar .user > *
{
  display: block;
}
.sidebar .user .img-circle, .comment .avatar
{
  width: 128px;
  height: 128px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto 10px;
  border-radius: 100%;
}
.sidebar .user h3
{
  font-weight: bold;
}
.sidebar .btn-success
{
  border-radius: 2px !important;
  color: #fff;
}
.sidebar .chats > a
{
  display: block;
  overflow: hidden;
  color: #1b1b1b;
  font-size: 18px;
  margin: 3px 0;
  font-weight: bold;
  padding: 8px 0;
}
.sidebar .chats > a.active, .sidebar .chats > a:hover, .sidebar .chats > a:focus
{
  color: #c22b32;
}
.chats a > div
{
  width: 42px;
  height: 42px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: -8px 8px -8px 0;
  float: left;
  border-radius: 100%;
}
.comment{clear:both}
.comment .avatar
{
  width: 48px;
  display: inline-block;
  height: 48px;
}
.comment .float-right.avatar{margin-left: 12px}
.comment .float-left.avatar{margin-right: 12px}
.bubble
{
  font-size: 16px;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
  max-width:75%;
}
.bubble.you
{
  float: left;
  color: #1a1a1a;
  background-color: #e6e6e6;
  align-self: flex-start;
}
.bubble.me
{
  float: right;
  color: #fff;
  background-color: #66ccff;
  align-self: flex-end;
}
.btn-black
{
  padding: 6px 15px;
  color: #fff;
  background-color: #3a3a3a;
  border-color: #3a3a3a;
  display: block;
  float: right;
}
.send-comment
{
  display: block;
  width: calc(100% - 300px);
  bottom: 50px;
  right: 0;
  padding: 15px 8%;
  position: fixed;
  background-color: #fff;
}
.chat-comments
{
  overflow: hidden;
  margin-bottom: 124px;
  margin-top: 111px;
}
.send-comment textarea
{
  width: 100%;
  border: 1px solid rgba(0,0,0,.1) !important;
  color: #1a1a1a;
}
