<div class="flex">
    <div class="sidebar">
      <div class="user">
        <div [style.background-image]="handleAvatar(user)" class="img-circle"></div>
        <h3>{{user?.name ? user?.name : user?.username}}</h3>
      </div>
      <a class="btn btn-success btn-block">New chat</a>
      <div class="chats">
        <a *ngFor="let chat of chats | async" (click)="changeChat(chat)" [ngClass]="{active: chat.id == active}">
          <div style="background-image: url(assets/pictures/escort-selfie.png)" class="img-circle"></div>
          {{chat.members[0].name ? chat.members[0].name : chat.members[0].username}}
        </a>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>
