.navbar {
    color: #515257;
    padding: 0;
    font-family: 'Lato' !important;
}

.navbar .navbar-brand {
    font-weight: 300;
    font-size: 28px;
    color: #bebfc0;
    text-shadow: none;
}

.navbar .navbar-brand > span {
    color: #99262c;
}

.navbar .dropdown-menu {
    background-color: rgba(30, 34, 39, .9);
    border-color: rgba(30, 34, 39, .9);
    padding: 5px;
    margin-top: 15px;
    min-width: 6rem;
    margin-left: 0.5rem;
}

.navbar .dropdown-menu .dropdown-item, .navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar .dropdown-menu .dropdown-item:first-of-type {
    border-bottom: 1px solid #fff;
}

.navbar .btn {
    margin: 7px 15px 5px 10px;
    color: white;
}

.navbar .btn:hover {
    background-color: white;
    color: rgba(30, 34, 39, .9);
}

.btn {
    padding: 6px 15px;
    border: 2px solid transparent;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
}

.btn-rb, .btn-rb:hover, .btn-rb:focus {
    border-color: #fff;
    color: #fff;
}

.navbar-nav .nav-link {
    color: white;
    font-family: 'Poiret One', 'Lato';
    text-transform: uppercase;
    font-size: 14px;
    padding: 0rem 1rem;
}

.navbar-nav .nav-link:hover, .active {
    color: darkred !important;
}

.apple-icon {
    width: 25px;    
}
.navbar-toggler {
    margin-top: 5px;
}
@media (max-width: 600px) {
    .navbar-nav .nav-link {
        padding: 5px;
    }
}
