
<nav class="navbar navbar-toggleable-md navbar-inverse purple-gradient fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-rb hidden-md-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user ? 'Me' : 'Enter'}}</a>
    <div *ngIf="!user" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"  (click)="openLogin()">Login</a>
      <a class="dropdown-item" (click)="openSignup()">Sign Up</a>
    </div>
    <div *ngIf="user" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="openUpdateMember()">Edit</a>
      <a class="dropdown-item" (click)="AF.logout()">Logout</a>
    </div>
    <a class="navbar-brand" href="/">RealBeauty<span>.ch</span><img src="assets/pictures/apple.png" class="apple-icon"/></a>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="user && user.privileges == 'admin'">
          <a class="nav-link"routerLink="/creation" routerLinkActive="active">Creation</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link"routerLink="/chat" routerLinkActive="active">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">The Girls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/become" routerLinkActive="active">Become a real beauty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subscription" routerLinkActive="active">My subscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">More</a>
        </li>
      </ul>
    </div>
</nav>
