<div class="modal-body">
  <form class="row" [formGroup]="form" (ngSubmit)="register(form, $event)">
    <div class="col-lg-9">
      <div class="head-title"><h5>REALBEAUTY<span>.CH</span></h5></div>
      <h1 class="inline">Sign-up</h1>
      <h6 class="inline light">Member Registration</h6>
    </div>

    <div class="col-lg-3">
      <img src="assets/pictures/apple.png" class="fw">
    </div>
    <div class="col-lg-12 m-t-xs">
      <input class="form-control" placeholder="Email" type="email" [formControl]="form.controls['email']" name="email" required
      />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['email'].valid">Invalid email format</div>
      <input type="text" class="form-control" placeholder="Username" type="text" [formControl]="form.controls['username']" name="username"
        required/>
      <div class="alert alert-danger" *ngIf="submited && !form.controls['username'].valid">Min length of username is 5</div>

      <input type="text" class="form-control" placeholder="Password" type="password" [formControl]="form.controls['passwords'].controls['password']"
        name="password" required />
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['password'].valid">Min length of password is 7</div>

      <input type="text" class="form-control" placeholder="Confirm password" type="password" [formControl]="form.controls['passwords'].controls['confirm']"
        name="confirm" required/>
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].controls['confirm'].valid">Confirm password is required</div>
      <div class="alert alert-danger" *ngIf="submited && !form.controls['passwords'].valid"> The two passwords aren't the same
      </div>


    </div>

    <div class="col-lg-12 text-right">
      <button type="submit" class="btn btn-success">Enter</button>
    </div>

  </form>

</div>

<div class="modal-footer">
  <h6>If you want to be a RealBeauty go to <a (click)="goSubscription()">Subscription</a></h6>
</div>
